* text=auto

*.py text eol=lf
*.go text eol=lf
*.saga text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.wav binary
*.onnx binary
*.o binary
*.a binary
*.so binary
*.dll binary
*.exe binary
*.sagapkg binary
